.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/sugimura.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/sugimura.xcuserdatad/xcschemes/xcschememanagement.plist
